*{
  box-sizing: border-box;
}

.App {
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  height: 100vh;
  text-align: center;
}
.header{
  display:flex;
  align-items: center;
  justify-content:space-between;
  flex-direction:row;
  font-size:28px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: rgba(255, 255, 255, .2);
  color:white;
  padding: 10px 20px;
  text-align: left;
  border-bottom: 2px solid white;
}
.logo{
  height:40px; 
}
.text-input{
  position:absolute;
  bottom:0;
  height:40px;
  width: 100%;
  display:flex;
  align-items: center;
  border-top:1px solid white;
}
.text-input > input {
  position:absolute;
  width:calc(100% - 10px);
  height:92%;
  font-size: 24px;
  border-radius:15px;
  border:1px solid white;
  background:white;
  color:black;
}

.text-input > button {
  position:absolute;
  right:12px;
  width: 32px;
  height: 80%;
  cursor:pointer;
  border-radius:15px;
  border:1px solid white;
}
.text-input > button:hover {
background:teal;
color:white;
}

.text-input > button[disabled] {
  color:white;
  background:grey;
  cursor: default;
}

.messages{
  overflow:auto;
  height:calc(100% - 120px);
}

.bubble-wrap{
  width:100%;
  padding:15px 20px;
  display:flex;
  position: relative;
}

.bubble-wrap[from="me"] {
  flex-direction:row-reverse;
}

.bubble{
  border-radius:11px;
  padding: 8px 12px;
  font-size: 14px;
  position:relative;
  border: 1px solid #606060;
  margin-left:5px;
}
.bubble:before{
  content:"";
  width:12px;
  height:12px;
  transform:rotate(45deg);
  background:white;
  border: 1px solid #606060;
  position:absolute;
  left:-6px;
  top:10px
}
.bubble-wrap[from="me"] .bubble:before{
  left:auto;
  right:-6px;
}
.bubble:after{
  content:"";
  background:white;
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  border-radius:10px;
}
.bubble > span {
  color:black;
  position:relative;
  z-index:101;
}
.bubble-name{
  position: absolute;
  color:white;
  top: 2px;
  font-size:10px;
  left: 30px;
}

.edit-username{
  display: flex;
  align-items: center;
}
.name-button{
  height:29px;
  margin:0 6px;
  background:transparent;
  border:1px solid white;
  color:white;
  font-size:10px;
  padding:7px;
  cursor: pointer;
}
.name-button:hover{
  background:rgba(255,255,255,0.1)
}
.name-input{
  color:black;
  height:31px;
  border:1px solid white;
  border-radius:14px;
  padding-left:12px;
  background:white;
  padding-bottom:2px;
  font-size:12px;
}
.username{
  display: flex;
  align-items: center;
  margin-right:12px;
  font-size:16px;
}